# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.coverage
.pytest_cache

# mypy
.mypy_cache/

# MacOS
.DS_Store
.idea

# Virtual Enviroment
venv
.venv

# Dist
dist/
src/ontol.egg-info/
